In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('wo_men.csv')
df.head()

                  time    sex  height  shoe_size
0  04.10.2016 17:58:51  woman   160.0       40.0
1  04.10.2016 17:58:59  woman   171.0       39.0
2  04.10.2016 18:00:15  woman   174.0       39.0
3  04.10.2016 18:01:17  woman   176.0       40.0
4  04.10.2016 18:01:22    man   195.0       46.0

In [3]:
df.drop(columns=['time'], inplace=True)
df.columns = ['gender', 'height', 'shoe_size']
df.dropna(inplace=True)

In [4]:
df['height'].replace(1.63, 163.00, inplace=True)
df['height'].replace(1.68, 168.00, inplace=True)
df['height'].replace(1.73, 173.00, inplace=True)
df['height'].replace(1.84, 184.00, inplace=True)

In [8]:
df = df[~(df['shoe_size']>50)]

In [15]:
df['gender'].replace('woman', '0', inplace=True)
df['gender'].replace('man', '1', inplace=True)

In [16]:
df['height'] = df['height'].astype('int')
df['shoe_size'] = df['shoe_size'].astype('int')
df['gender'] = df['gender'].astype('int')

In [17]:
df.head(10)

   gender  height  shoe_size
0       0     160         40
1       0     171         39
2       0     174         39
3       0     176         40
4       1     195         46
5       0     157         37
6       0     160         38
7       0     178         39
8       0     168         38
9       1     171         41

In [31]:
df.to_csv('shoe_data.csv', index=False)

In [27]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt
from sklearn.metrics import r2_score


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [18]:
X = df.drop(columns=['shoe_size'])
y = df['shoe_size']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [23]:
linreg = LinearRegression()

In [22]:
print("RMSE: {:.7f}".format(sqrt(abs(cross_val_score(linreg, X_train, y_train, cv=5,
                                                     scoring="neg_mean_squared_error").mean()))))

RMSE: 1.1161250